html{
    scroll-behavior: smooth;
}
.header{
    height: 60px;
    background-color: #fefefe;
    box-shadow: 0 0 10px 0px black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.container{
    width: 90%;
    margin: 0px auto;
    min-height: 100%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 50%;
    font-size: 25px;
    text-transform: uppercase;
}
#home{
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    text-transform: uppercase;
}
.section{
    height: 100vh;
    padding-top: 60px;
}
.get{
    margin-top: 650px; 
    background-color: white;
    color: #879c36;
    font-size: medium;
    width: 180px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    border: #879c36 solid 1px;
}
.get:hover{
    background-color: #879c36;
    color: white;
}
#about{
    background-color: white;
}
.man{ 
    background-image: url(../img/about1.png);
    width: 30%;
    height: 475px;
    background-repeat: no-repeat;
    background-position: center;
}
.man::before{
    content: '';
    width: 27%;
    height: 460px;
    border: #879c36 double 6px;
    position: absolute;
    top: 900px;
    left: 60px;
}
.textabout{
    width: 70%;
    padding-left: 200px;
}
.about1{
    padding-bottom: 10px;
    font-size: 25px;
}
.about1 span{
    color: #879c36;
}
.about2{
    font-size: larger;
}
.about3{
    font-size: 15px;
    color: #879c36;
    border: #879c36 1px solid;
    width: 20%;
    height: 30px;
    text-align: center;
    padding: 5px 2px 0px 2px;
    margin-top: 30px;
}
.about3:hover{
    background-color: #879c36;
    color: white;
}
#works{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
}
.project{
    width: 90%;
    margin: 0px auto;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 30px;
    color: white;
}
.project1{
    background-image: url(../img/project1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border: #879c36 5px solid;
} 
.project2{
    background-image: url(../img/project2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border: #879c36 5px solid;
} 
.project3{
    background-image: url(../img/project3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    border: #879c36 5px solid;
} 
.project1::before{
    content: 'My project';
    background-color: #879c36;
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    transition-property:all ;
    transition-duration: 0.7s;
}
.project2::before{
    content: 'My project';
    background-color: #879c36;
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    transition-property:all ;
    transition-duration: 0.7s;
}
.project3::before{
    content: 'My project';
    background-color: #879c36;
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    transition-property:all ;
    transition-duration: 0.7s;
}
.project1:hover::before{
    top: 94px;
}
.project2:hover::before{
    top: 94px;
}
.project3:hover::before{
    top: 94px;
}
#contact{
    background-color: white;
    height: 95vh;
}
.phone{
    margin-top: 10px;
}
.footer{
    height: 5vh;
    text-align: center;
}
a{
    color: #212121;
}
.logo{
    text-transform: uppercase;
    color: #212121;
    font-size: 36px;
}
.logo span{
    color: #879c36;
}
.contacs-info{
    width: 30%; 
    font-size: large; 
}
.contacs-map{
    width: 70%;
    height: 70vh;
    border: #879c36 5px solid;
}